*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
gemfiles/*.lock
InstalledFiles
_yardoc
doc/
lib/bundler/man
pkg
rdoc
spec/reports
spec/tmp
spec/version_tmp
tmp
log/*.log
spec/dummy/db/*.sqlite3
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/.sass-cache
.DS_Store

/coverage/index.html
/coverage/assets
/coverage/*.json
/coverage/*.json.lock
/.ruby-version
